body {
    margin: 0px;
    font-family: 'Mulish', sans-serif;
}
.header {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}
.header__img {
    width: 200px;
    margin-left: 25px;
}
.login {
    background: linear-gradient(#12C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px, 30px;
}
.login__container {
    background-color: rgb(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 40px 68px 40px;
    height: calc(100vh - 200px);
    max-height: 600px;
    min-height: 400px;
    width: calc(100% - 280px);
    max-width: 300px;
    min-width: 180px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.login__container--form {
    display: flex;
    flex-direction: column;
}
.login__container--form label {
    font-size: 14px;
}
.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login__container--remember-me label {
    display: flex;
    align-items: center;
}
.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    padding-left: 7px;
}
.login__container--remember-me a:hover {
    text-decoration: underline;
}
.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 10px;
    justify-content: center;
}
.login__container--social-media > div {
    border: 2px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 25px;
}
.login__container--social-media > div > a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
}
.login__container--social-media > div > a:hover {
    text-decoration: underline;
}
.login__container--social-media > div > img {
    width: 30px;
    margin: 0px 10px;
}
.login__container--register {
    display: flex;
    font-size: 14px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.login__container--register p {
    margin: 0px;
}
.login__container--register a {
    font-size: 14.5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-left: 5px;
}
.login__container--register a:hover {
    text-decoration: underline;
}
.input {
   background-color: transparent;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   border-bottom: 2px solid white;
   font-family: 'Mulish', 'sans-serif';
   font-size: 16px;
   margin-bottom: 20px;
   padding: 0px 20px;
   outline: none;
   height: 50px;
   color: white;
}
::placeholder {
    color: white;
}
.button {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', 'sans-serif';
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
button:focus { 
    outline: none;
}
.footer {
    background-color:#AB88FF;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer a {
    color: white;
    text-decoration: none;
    margin: 0px 30px;
    text-align: center;
}
.footer a:hover {
    text-decoration: underline;
}